/* Temporaire
img{
    width:100px;
    height:100px;

}
 */
body {
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-size: 22.5px;
  font-weight: bolder;
}

header {
  display: flex;
  width: 100%;
}
header h2 {
  /*width: 160px;*/
  text-align: center;
  width: 50%;
  height: 30px;
  margin-left: 25%;
  font-family: "Shrikhand";
  font-size: 27.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
header .header__logoretour {
  width: 5%;
  margin-left: 5%;
  display: none;
}
header .header__logoretour.--visible {
  display: flex;
  align-items: center;
}
header .header__logoretour.--visible + h2 {
  margin-left: 25%;
}

/* Section impaire */
main section:nth-child(odd) {
  background-color: #F6F6F6;
}

.section__gps {
  background-color: #EAEAEA;
  margin-top: 0;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  border-top: 3px solid lightgray;
}
.section__gps i {
  margin-right: 5%;
}

.section__reservation {
  padding-bottom: 40px;
}
.section__reservation a {
  display: inline-block;
}
.section__reservation h2 {
  margin-left: 12%;
  margin-right: 12%;
}
.section__reservation p {
  margin-left: 5%;
  margin-right: 5%;
}

.buttoncolor {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: 0;
}

main section:first-child {
  text-align: center;
}

/* Fonctionnement */
main section:nth-child(2) {
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-bottom: 40px;
}
main section:nth-child(2) h2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
main section:nth-child(2) #fonctionnement__container {
  width: 97.5%;
  padding-left: 2.5%;
  text-align: center;
}
main section:nth-child(2) #fonctionnement__container span {
  background-color: #F6F6F6;
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 20px;
}
main section:nth-child(2) #fonctionnement__container span.--couleurprimaire {
  background-color: #f2eafb;
}
main section:nth-child(2) #fonctionnement__container span.--couleurprimaire i:nth-child(2) {
  color: #9356DC;
}
main section:nth-child(2) #fonctionnement__container span:nth-child(n) {
  align-items: center;
}
main section:nth-child(2) #fonctionnement__container span p {
  margin: 0;
  font-weight: bolder;
}
main section:nth-child(2) #fonctionnement__container span i {
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B4B4B4;
}
main section:nth-child(2) #fonctionnement__container span p:nth-child(1), main section:nth-child(2) #fonctionnement__container span i {
  margin-right: 7.5%;
}
main section:nth-child(2) #fonctionnement__container span p:nth-child(3), main section:nth-child(2) #fonctionnement__container span i {
  position: relative;
  left: -10px;
}
main section:nth-child(2) #fonctionnement__container span p:nth-child(1) {
  background-color: #9356DC;
  color: white;
  border-radius: 10px;
  position: relative;
  left: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12.5px;
}
main section:nth-child(2) #fonctionnement__container span p:nth-child(3) {
  font-size: 15px;
}

/* Restaurant */
#sectionrestaurant {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 20px;
  padding-bottom: 40px;
}
#sectionrestaurant h2 {
  margin-bottom: 0;
}
#sectionrestaurant h3, #sectionrestaurant p {
  margin: 0;
}
#sectionrestaurant .sectionrestaurant__reservation {
  width: 100%;
}
#sectionrestaurant a {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  /*margin-bottom: 20px;*/
}
#sectionrestaurant a img {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#sectionrestaurant a div {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#sectionrestaurant a div div {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
#sectionrestaurant a div i {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockrestaurant__notification {
  width: 100%;
  display: flex;
  justify-content: end;
  height: 28.4px;
}
.blockrestaurant__notification p {
  display: none;
}

.--new p {
  display: block;
  background-color: #99E2D0;
  color: #1b6150;
  position: relative;
  padding: 5px;
  top: 38.4px;
  right: 10px;
}

footer {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  background-color: #353535;
  color: white;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  padding-bottom: 2.5px;
}
footer ul li i {
  padding: 0;
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
footer ul li a {
  color: white;
}

#footer__logo {
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
}

/* RESTAURANT.HTML */
main img {
  width: 100%;
  height: 200px;
}

.span--separateur {
  height: 3px;
  display: block;
  width: 12.5%;
  background-color: #99E2D0;
  margin-bottom: 10px;
}

.section__menu {
  margin-top: 0 !important;
  margin-bottom: -50px !important;
  background-color: #F6F6F6;
  position: relative;
  top: -50px;
  border-radius: 25px;
  text-align: center;
}
.section__menu > div {
  margin-bottom: 25px;
  text-align: left;
}
.section__menu a {
  margin-bottom: 60px;
}
.section__menu h2 {
  margin-bottom: 0 !important;
}
.section__menu div p {
  margin: 0;
}

.section__div--titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-top: 15px;
}
.section__div--titre i {
  padding-right: 5%;
}
.section__div--titre h2 {
  font-family: "Shrikhand", cursive;
}

.blockmenu {
  display: flex;
  width: 95%;
  padding: 2.5%;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 1px gray;
}
.blockmenu div:nth-child(1) {
  width: 90%;
}
.blockmenu div:nth-child(1) h3, .blockmenu div:nth-child(1) p {
  margin: 0;
  padding: 1px;
}
.blockmenu div:nth-child(1) h3 {
  font-size: 15px;
}
.blockmenu div:nth-child(1) p {
  font-size: 13px;
}
.blockmenu div:nth-child(2) {
  width: 10%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.blockmenu div:nth-child(2) p {
  display: inline-block;
  margin: 0;
  padding: 1px;
  font-weight: bold;
  font-size: 13px;
}

@media all and (min-width: 768px) {
  #sectionrestaurant #sectionrestaurant__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #sectionrestaurant a {
    width: 40%;
  }

  #fonctionnement__container span:nth-child(n) {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
  }
}
@media all and (min-width: 992px) {
  main {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #sectionrestaurant {
    width: 60%;
  }
  #sectionrestaurant #sectionrestaurant__container {
    padding-bottom: 30px;
  }

  main section:nth-child(2) {
    width: 35%;
    margin-bottom: 0;
    top: 50px;
  }
  main section:nth-child(2) #fonctionnement__container {
    position: sticky;
    top: 30%;
  }

  main section:nth-child(1) {
    width: 100%;
  }

  #sectionrestaurant, section:nth-child(2) {
    padding: 0;
    margin-top: 30px;
    border-radius: 20px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  #fonctionnement__container {
    margin-top: 28.4px;
  }
  #fonctionnement__container span:nth-child(n) {
    width: 97.5% !important;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
