/* Anim progressif */
@keyframes loadspinner {
  0% {
    height: 0px;
    width: 5px;
    margin: 10px;
  }
  50% {
    height: 150px;
    width: 7.5px;
    margin: 7.5px;
  }
  100% {
    height: 0px;
    width: 5px;
    margin: 10px;
  }
}
@keyframes exitload {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes fadein {
  0% {
    margin-top: 40px;
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
body {
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-size: 22.5px;
  font-weight: bolder;
}

header {
  width: 100%;
  text-align: center;
}
header h2 {
  height: 30px;
  font-family: "Shrikhand";
  font-size: 27.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
header .header__logoretour {
  display: none;
  position: absolute;
}
header .header__logoretour--visible {
  display: block;
  position: absolute;
  margin-left: 5%;
  top: 17.5px;
}

footer {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  background-color: #353535;
  color: white;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  padding-bottom: 2.5px;
}
footer ul li i {
  padding: 0;
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
footer ul li a {
  color: white;
}

#footer__logo {
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
}

.buttoncolor {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border: 0;
  cursor: pointer;
}
.buttoncolor:hover {
  opacity: 0.8;
  box-shadow: 0 0 2.5px black;
}

.logo--heartanim {
  /* Heart anim */
  position: relative;
  width: 20px;
  height: 100%;
}
.logo--heartanim i {
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: linear;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.logo--heartanim i + i {
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  text-transform: uppercase;
  -webkit-background-clip: text;
}
.logo--heartanim:hover i {
  opacity: 0;
}
.logo--heartanim:hover i + i {
  opacity: 1;
}

#chargement {
  background-color: black;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 1s;
  animation: exitload 1s linear 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.wave {
  width: 1px;
  height: 1px;
  background: linear-gradient(45deg, #9356DC, #FF79DA);
  margin: 15px;
  animation: loadspinner 1s linear infinite;
}

.wave:nth-child(1) {
  animation-delay: 0.125s;
}

.wave:nth-child(2) {
  animation-delay: 0.25s;
}

.wave:nth-child(3) {
  animation-delay: 0.375s;
}

.wave:nth-child(4) {
  animation-delay: 0.5s;
}

.wave:nth-child(5) {
  animation-delay: 0.625s;
}

.wave:nth-child(6) {
  animation-delay: 0.75s;
}

.wave:nth-child(7) {
  animation-delay: 0.875s;
}

.wave:nth-child(8) {
  animation-delay: 1s;
}

/* Section impaire */
main section:nth-child(odd) {
  background-color: #F6F6F6;
}

.section__gps {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  margin-top: 0;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  border-top: 3px solid lightgray;
}
.section__gps i {
  flex-grow: 0.05;
}
.section__gps input[type=text] {
  background-color: transparent;
  border: 0;
  width: 105px;
}

.section__reservation {
  padding-bottom: 40px;
}
.section__reservation a {
  display: inline-block;
}
.section__reservation h2 {
  margin-left: 12%;
  margin-right: 12%;
}
.section__reservation p {
  margin-left: 5%;
  margin-right: 5%;
}

/* Fonctionnement */
#sectionfonctionnement {
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-bottom: 40px;
}
#sectionfonctionnement h2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
#sectionfonctionnement #fonctionnement__container {
  width: 97.5%;
  padding-left: 2.5%;
  text-align: center;
}
#sectionfonctionnement #fonctionnement__container div {
  background-color: #F6F6F6;
  display: flex;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 20px;
}
#sectionfonctionnement #fonctionnement__container div:hover {
  background-color: #f2eafb;
}
#sectionfonctionnement #fonctionnement__container div:hover i:nth-child(2) {
  color: #9356DC;
}
#sectionfonctionnement #fonctionnement__container div:nth-child(n) {
  align-items: center;
}
#sectionfonctionnement #fonctionnement__container div p {
  margin: 0;
  font-weight: bolder;
}
#sectionfonctionnement #fonctionnement__container div i {
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B4B4B4;
}
#sectionfonctionnement #fonctionnement__container div p:nth-child(1), #sectionfonctionnement #fonctionnement__container div i {
  margin-right: 7.5%;
}
#sectionfonctionnement #fonctionnement__container div p:nth-child(3), #sectionfonctionnement #fonctionnement__container div i {
  position: relative;
  left: -10px;
}
#sectionfonctionnement #fonctionnement__container div p:nth-child(1) {
  background-color: #9356DC;
  color: white;
  border-radius: 10px;
  position: relative;
  left: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12.5px;
}
#sectionfonctionnement #fonctionnement__container div p:nth-child(3) {
  font-size: 15px;
}

main section:first-child {
  text-align: center;
}

/* Restaurant */
#sectionrestaurant {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 20px;
  padding-bottom: 40px;
}
#sectionrestaurant h2 {
  margin-bottom: 0;
}
#sectionrestaurant h3, #sectionrestaurant p {
  margin: 0;
}
#sectionrestaurant .sectionrestaurant__reservation {
  width: 100%;
}
#sectionrestaurant div a {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sectionrestaurant div a img {
  display: block;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blockrestaurant__container {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.blockrestaurant__container div:nth-child(1) {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
.blockrestaurant__container div:nth-child(2) {
  position: relative;
  width: 15%;
}

.blockrestaurant__notification p {
  display: none;
}
.blockrestaurant__notification--new {
  position: relative;
}
.blockrestaurant__notification--new p {
  display: block;
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  padding: 5px;
  right: 10px;
  top: 10px;
}

/* RESTAURANT.HTML */
main img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.span--separateur {
  height: 3px;
  display: block;
  width: 7.5%;
  background-color: #99E2D0;
  margin-bottom: 10px;
}

.section__menu {
  margin-top: 0 !important;
  margin-bottom: -50px !important;
  background-color: #F6F6F6;
  position: relative;
  top: -50px;
  border-radius: 25px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.section__menu > div {
  margin-bottom: 25px;
  text-align: left;
}
.section__menu a {
  margin-bottom: 60px;
}
.section__menu h2 {
  margin-bottom: 0 !important;
  margin-top: 0;
}
.section__menu div p {
  margin: 0;
}

.section__menu {
  /* Fade in restaurant 6 Elements 3 Menu*/
}
.section__menu :nth-child(n) {
  animation-duration: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}
.section__menu div.listblockmenu:nth-child(2) :nth-child(1) {
  animation-delay: 1s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(2) :nth-child(2) {
  animation-delay: 2s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(2) :nth-child(3) {
  animation-delay: 3s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(2) :nth-child(4) {
  animation-delay: 4s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(2) :nth-child(5) {
  animation-delay: 5s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(3) :nth-child(1) {
  animation-delay: 6s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(3) :nth-child(2) {
  animation-delay: 7s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(3) :nth-child(3) {
  animation-delay: 8s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(3) :nth-child(4) {
  animation-delay: 9s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(3) :nth-child(5) {
  animation-delay: 10s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(4) :nth-child(1) {
  animation-delay: 11s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(4) :nth-child(2) {
  animation-delay: 12s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(4) :nth-child(3) {
  animation-delay: 13s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(4) :nth-child(4) {
  animation-delay: 14s;
  animation-name: fadein;
}
.section__menu div.listblockmenu:nth-child(4) :nth-child(5) {
  animation-delay: 15s;
  animation-name: fadein;
}
.section__menu .elements6 :nth-child(1) {
  animation-delay: 1s;
  animation-name: fadein;
}
.section__menu .elements6 :nth-child(2) {
  animation-delay: 2s;
  animation-name: fadein;
}
.section__menu .elements6 :nth-child(3) {
  animation-delay: 3s;
  animation-name: fadein;
}
.section__menu .elements6 :nth-child(4) {
  animation-delay: 4s;
  animation-name: fadein;
}
.section__menu .elements6 :nth-child(5) {
  animation-delay: 5s;
  animation-name: fadein;
}
.section__menu .elements6 :nth-child(6) {
  animation-delay: 6s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(3) :nth-child(1) {
  animation-delay: 7s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(3) :nth-child(2) {
  animation-delay: 8s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(3) :nth-child(3) {
  animation-delay: 9s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(3) :nth-child(4) {
  animation-delay: 10s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(3) :nth-child(5) {
  animation-delay: 11s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(4) :nth-child(1) {
  animation-delay: 12s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(4) :nth-child(2) {
  animation-delay: 13s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(4) :nth-child(3) {
  animation-delay: 14s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(4) :nth-child(4) {
  animation-delay: 15s;
  animation-name: fadein;
}
.section__menu .elements6 ~ div.listblockmenu:nth-child(4) :nth-child(5) {
  animation-delay: 16s;
  animation-name: fadein;
}

.section__div--titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40px;
  padding-top: 15px;
}
.section__div--titre h2 {
  font-family: "Shrikhand", cursive;
}

.blockmenu {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 1px gray;
  overflow: hidden;
}
.blockmenu div {
  padding: 2.5%;
}
.blockmenu div:nth-child(1) {
  width: 90%;
  min-width: 0%;
}
.blockmenu div:nth-child(1) h3, .blockmenu div:nth-child(1) p {
  margin: 0;
  padding: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blockmenu div:nth-child(1) h3 {
  font-size: 15px;
}
.blockmenu div:nth-child(1) p {
  font-size: 13px;
}
.blockmenu div:nth-child(2) {
  width: 10%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.blockmenu div:nth-child(2) p {
  display: inline-block;
  margin: 0;
  padding: 1px;
  font-weight: bold;
  font-size: 13px;
}
.blockmenu .blockmenu--addanimationpanier {
  width: 0px;
  padding: 0;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background-color: #99E2D0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockmenu .blockmenu--addanimationpanier i {
  color: white;
  transition: transform ease-in-out 1s;
}
.blockmenu:hover .blockmenu--addanimationpanier {
  width: 25%;
}
.blockmenu:hover .blockmenu--addanimationpanier i {
  transform: rotate(360deg);
}

@media all and (min-width: 768px) {
  main img {
    height: 300px;
  }

  #sectionrestaurant #sectionrestaurant__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #sectionrestaurant #sectionrestaurant__container a {
    width: 45%;
  }

  #fonctionnement__container div:nth-child(n) {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
  }

  /* BaseRestaurant */
  .section__menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section__menu .section__div--titre {
    width: 100%;
  }
  .section__menu .listblockmenu {
    width: 50%;
    margin-left: 1%;
    margin-left: 1%;
  }
  .section__menu div.listblockmenu:nth-child(4) {
    margin-left: 23%;
    margin-right: 23%;
  }
}
@media all and (min-width: 992px) {
  main#index {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  main img {
    height: 400px;
  }

  #sectionrestaurant {
    width: 60%;
  }
  #sectionrestaurant #sectionrestaurant__container {
    padding-bottom: 30px;
  }

  main #sectionfonctionnement {
    width: 35%;
    margin-bottom: 0;
    top: 50px;
  }
  main #sectionfonctionnement #fonctionnement__container {
    position: sticky;
    top: 30%;
  }

  main #sectiongps {
    width: 100%;
  }
  main #sectiongps i {
    flex-grow: 0.03;
  }

  #sectionrestaurant, #sectionfonctionnement {
    padding: 0;
    margin-top: 30px;
    border-radius: 20px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  #fonctionnement__container {
    margin-top: 28.4px;
  }
  #fonctionnement__container div:nth-child(n) {
    width: 97.5% !important;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
  }

  /* BaseRestaurant */
  .section__menu .listblockmenu {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .section__menu div.listblockmenu:nth-child(4) {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}

/*# sourceMappingURL=style.css.map */
